<!-- <!DOCTYPE html>
<html lang="en">
<head>
  <%- include ../head.ejs %>
</head>
<body>
  <%- include ../nav.ejs %>
  <section class="content">
    <div class="container">









    </div>
  </section>
  <%- include ../script.ejs %>
</body>
</html> -->


<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/style.min.css">
    <title>Landing Page</title>
</head>

<body>
    <div class="row">
        <div class="col-md-6 col-md-offset-3 margin20" >

            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Welcome to Dashboard Hacktiv8</h3> </div>
                <div class="panel-body">
                  <a href="/chart-line" class="btn btn-danger btn-lg btn-block">Line</a>
                  <a href="/chart-pie" class="btn btn-warning btn-lg btn-block">Pie</a>
                  <a href="/chart-bar" class="btn btn-primary btn-lg btn-block">Bar</a>
                  <a class="btn btn-success btn-lg btn-block" href="/login">Admin Panel</a>
                </div>
            </div>
        </div>
    </div>


    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="" crossorigin="anonymous"></script>
</body>

</html>
